:root {
  --red: #dd082f;
  --dark-red: #3b020d;
  --green: #2ff901;
  --yellow: #ffcc02;
  --sky: #01fbfb;
  --orange: #ffcc02;
  --blue: #519afb;
  font-size: 16px;
}

body{
  margin: 0;
  background-color: var(--dark-red);
}

h1, h2{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}
